body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

header {
    background: #e23744;
    padding: 20px;
    text-align: center;
    color: white;
}

header input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.restaurants {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
@media (max-width: 1000px) {
    .restaurants {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .restaurants {
        grid-template-columns: repeat(1, 1fr);
    }
}
