body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

header {
    background: #e23744;
    padding: 20px;
    text-align: center;
    color: white;
}

header input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.restaurants {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
